header#showcase.grid
	.bg-image
	.content-wrap
		h1 Welcome to Acme Web solutions
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.
		a.btn(href="#section-b") Read More

main#main
	section#section-a.grid
		.content-wrap
			h2.content-title Web & Application Development
			.content-text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.
	
	section#section-b.grid
		ul
			li
				.card
					img(src="./img/1.jpeg" alt="1")
					.card-content
						h3.card-title Web Development
						p Lorem ipsum dolor sit amet, sdfkljd consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.
			li
				.card
					img(src="./img/2.jpeg" alt="2")
					.card-content
						h3.card-title Mobile Applications
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.
			li
				.card
					img(src="./img/3.jpeg" alt="3")
					.card-content
						h3.card-title Tech Marketing
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.
						
	<!-- sdfksdf -->
	section#section-c.grid
		.content-wrap
			h2.content-title We handle all your digital needs
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.

	section#section-d.grid
		.box
			h2.content-title Contact Us
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra turpis leo, a auctor diam fermentum quis. Pellentesque pellentesque velit.
			p contactus@dsklfdsj.test
		.box
			h2.content-title About Our Company
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id ante sit amet nunc tempor faucibus scelerisque ut ante. Duis pharetra suscipit ligula, ac viverra arcu eleifend tempor. Sed libero.

footer#main-footer.grid
	div Acme Web Solutions
	div project by 
		a(href="#") bumholio
